/* Navigation Bar Styles */

.navBar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #2b2b2cbf;
    backdrop-filter: blur(10px);
    border: 1px solid #383838;
    border-radius: 12px 12px 0 0;
    box-shadow: 0 16px 30px #00000040;
    z-index: 5;
}
  
.navList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}

.navLink {
    color: #d6d6d6;
    font-size: var(--fontSize-8);
    padding: 20px 7px;
    transition: color 0.25s ease;
}

.navLink:hover,
.navLink:focus { color: #d6d6d6b3; }

.navLink.active { 
    color: #ffdb70; 
}
  