/* Main Styling */

main {
    min-width: 259px;
    margin: 15px 12px;
    margin-bottom: 75px;
}

/* Re-used Styling */ 
.profileBar {
    background: #1e1e1f;
    border: 1px solid #383838;
    border-radius: 20px;
    box-shadow: -4px 8px 24px #00000040;
    padding: 15px;
    z-index: 1;
}

.separator {
    width: 100%;
    height: 1px;
    background: #383838;
    margin: 16px 0;
}

.iconBox {
    position: relative;
    background: linear-gradient(
        to bottom right, 
        #404040 0%, 
        #40404000 50%
      );
    width: 30px;
    height: 30px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #ffdb70;
    box-shadow: -4px 8px 24px #00000040;
    z-index: 1;
  }
  
  .iconBox::before {
    content: "";
    position: absolute;
    inset: 1px;
    background: #202022;
    border-radius: inherit;
    z-index: -1;
  }
  
  .iconBox ion-icon { --ionicon-stroke-width: 35px; }


/* Profile Bar Styling */
.profileBar {
    overflow: hidden;
    transition: 0.5s ease-in-out;
    margin-bottom: 15px;
    max-height: 112px;
}

.profileBar.active { max-height: 405px; }

.profileBarInfo {
    justify-content: flex-start;
    position: relative;
    display: flex;
    align-items: center;
    gap: 15px;
}

.profileAvatar {
    background: linear-gradient(
        to bottom right, 
        #3f3f40 3%, 
        #303030 97%
    );
    border-radius: 20px;
}

.profileContent .name{
    margin-bottom: 10px;
    font-size: var(--fontSize-3);
    font-weight: 500;
    letter-spacing: -0.25px;
    color: #fafafa;
}

.profileContent .title {
    color: #ffffff;
    background: var(--onyx);
    font-size: var(--fontSize-8);
    font-weight: 300;
    width: max-content;
    padding: 3px 12px;
    border-radius: 8px;
}

.moreInfoButton {
    position: absolute;
    top: -15px;
    right: -15px;
    border-radius: 0 15px;
    font-size: 13px;
    color: #ffdb70;
    background: linear-gradient(
        to bottom right, 
        #404040 0%, 
        #40404000 50%
    );
    padding: 10px;
    box-shadow: 0 16px 30px #00000040;
    transition: 0.25s ease;
    z-index: 1;
}

.moreInfoButton::before {
    content: "";
    position: absolute;
    inset: 1px;
    border-radius: inherit;
    background: linear-gradient(
        to bottom right, 
        #2d2d2e40 0%, 
        #1b1b1d00 100%
      ), #202022;
    transition: 0.25s ease;
    z-index: -1;
}

.moreInfoButton:hover, .moreInfoButton:focus { background: linear-gradient(
    to bottom right, 
    #ffda6b 0%, 
    #ffc06100 50%
  );
}

.moreInfoButton:hover::before, .moreInfoButton:focus::before { background: linear-gradient(
    135deg, 
    #ffda6b40 0%, 
    #ffbb5c00 59.86%
  ), #202022;
}
.moreInfoButton span { display: none; }

.profileBarMoreInfo {
    opacity: 0;
    visibility: hidden;
    transition: 0.5s ease-in-out;
}

.profileBar.active .profileBarMoreInfo {
    opacity: 1;
    visibility: visible;
}

.contactsList {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
}

.contactItem {
    min-width: 100%;
    display: flex;
    align-items: center;
    gap: 16px;
}
  
.contactInfo {
    max-width: calc(100% - 46px);
    width: calc(100% - 46px);
}
  
.contactTitle {
    color: #d6d6d6b3;
    font-size: var(--fontSize-8);
    text-transform: uppercase;
    margin-bottom: 2px;
}
  
.contactInfo :is(.contactLink, time, address) {
    color: #fafafa;
    font-size: var(--fontSize-7);
}
  
.contactInfo address { font-style: normal; }
  
.socialList {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    padding-bottom: 4px;
    padding-left: 7px;
}
  
.socialItem .socialLink {
    color: #d6d6d6b3;
    font-size: 18px;
}
  
  
.socialItem .socialLink:hover { color: #d6d6d6; }
