/* Reset */

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  button {
    border: none;
    cursor: pointer;
    background: none;
    font: inherit;
    text-align: left;
  }
  
  input, textarea {
    font: inherit;
    display: block;
    background: none;
    width: 100%;
  }
  
  ::selection {
    color: #121212;
    background: #ffdb70;
  }

  a { text-decoration: none; }
  
  li { list-style: none; }
  
  img, ion-icon, a, button, time, span { display: block; }
  
  :focus { outline-color: #ffdb70; }
  
  html { font-family: 'Poppins', sans-serif; }
  
  body { background: #121212; }