/* Custom Variables*/

:root {

/* font-size */
--fontSize-1: 24px;
--fontSize-2: 18px;
--fontSize-3: 17px;
--fontSize-4: 16px;
--fontSize-5: 15px;
--fontSize-6: 14px;
--fontSize-7: 13px;
--fontSize-8: 11px;

}